<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Clo0ne{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% block sitecss %}{% endblock %}
</head>
<body>
<nav class="nav">
    <a href="{% url 'main_page_view' %}" class="nav-link">Home</a>
    <a href="{% url 'user_home_page_view' request.user.username %}" class="nav-link">Profile</a>
    <a href="{% url 'show_all_users_view' %}" class="nav-link">Users</a>
    <a href="{% url 'user_login_view' %}" class="nav-link">Login</a>
    <a href="{% url 'user_registration_view' %}" class="nav-link">Registration</a>
    <a href="{% url 'user_logout_view' %}" class="nav-link">Logout</a>
    <a href="/admin" class="nav-link">Admin</a>
</nav>
{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>