<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for user in users %}
    <div>
        <a href="{% url 'user_home_page_view' user.username %}">{{ user.username }}</a>
        {% if user.id != request.user.id %}
            {% if user.id in subscriptions %}
                <a href="{% url 'unsubscribe' user.username %}">Unsubscribe</a>
            {% else %}
                <a href="{% url 'subscribe' user.username %}">Subscribe</a>
            {% endif %}
        {% endif %}
    </div>
    
{% endfor %}
</body>
</html>

